*{
    margin: 0px;
    padding: 0px;
}
.nav{
    background-color: orangered;
    height: 35px;
    padding: 25px;
    font-size: 20px;
}
a{
    margin-top: 5px;
    color: gold;
    padding: 60px;
    margin-left: 40px;
    
}
.outcontainer{
    margin-top: 30px;
    justify-content: center;
    display: flex;
}
h1{
    text-align: center;
}
.foot{
    background-color: gray;
    color: white;
    text-align: center;
}
